.container {
	margin-top: 4%;
	display: flex;
	justify-content: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
}
.temperamentContainer {
	display: flex;
	flex-wrap: wrap;
}

.temperamentContainer > div {
	margin-right: 10px;
	margin-bottom: 5px;
}

.temperamentContainer input[type='checkbox'] {
	margin-right: 5px;
}
